#countLabel{
    text-align: center;
    display: block;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 20px 30px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(59, 59, 225, 0.851);
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgba(2, 2, 44, 0.926);
}